<h1>Listing articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Author</th>
      <th>Published</th>
      <th>Publication</th>
      <th>Body</th>
      <th>Extracted on</th>
      <th>Keywords</th>
      <th>Relations</th>
      <th>Concepts</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.url %></td>
        <td><%= article.author %></td>
        <td><%= article.published %></td>
        <td><%= article.publication %></td>
        <td><%= article.body %></td>
        <td><%= article.extracted_on %></td>
        <td><%= article.keywords %></td>
        <td><%= article.relations %></td>
        <td><%= article.concepts %></td>

        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
